body {
    background-color: #fff;
    font-family: Roboto;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 25%;
    border-radius: 0.5rem;
    padding: 5rem 6rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-container .btn {
    margin-top: 2rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.2rem;
}

.main-container .input-container {
    position: relative;
    margin-top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}